html, body {
  height: 100%;
}
body {
  background-color: #fff;
  width: 100%;
  margin: 0;
}

#wrapper {
  min-width: 100%;
  height: 100vh;
  background-color: #000;
}

#locationSearch {
  height: 10%;
  background-color: #117CF3;
  margin: 0 auto;
  padding: 12px 10px;
  box-sizing: border-box;
  text-align: center;
}

#address {
  max-width: 15em;
  /*min-width: 5em;*/
  height: 2.75em;
  border-radius: 5px;
  padding: 0 10px;
}

#address:focus {
  outline: none;
}

button {
  height: 2.75em;
  border-radius: 5px;
  padding: 0 3em;
  color: #fff;
  background-color: #4D92E0;
  border: 1px solid #105FB7;
  line-height: 2.75em;
  letter-spacing: .1em;
}

button:hover {
  background-color: #105FB7;
}


#content {
  min-width: 100%;
  height: 90%;
  position: relative;
}

#locationMap {
  /*padding: 2.5% auto;*/
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

#forecast {
  position: absolute;
  right: 1%;
  top: 5%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.2);
  width: 15%;
  min-width: 10em;
  height: 20em;
  box-shadow: 0 2px 5px #555;
  border-radius: 8px;
  font-family: 'Bree Serif', serif;
  padding: 0.625em;
  box-sizing: border-box;
}

#forecast div {
  width: 100%;
  height: 100%;
  /*margin: 5%;*/
  background-color: rgba(77, 146, 224, 0.7);
  text-align: center;
  color: #efefef;
  padding: 0 2.5%;
  border-radius: 8px;
  box-sizing: border-box;
}

#forecast h1 {
  font-size: 2.5em;
}

#forecast h2 {
  font-size: 1.25em;
  margin: 5px 0;
}

#forecast h4 {
  font-size: 0.725em;
}









